<form (ngSubmit)="onSubmit(formSignIn);" #formSignIn="ngForm">
  <input placeholder="Email" ngModel #txtEmail="ngModel" name="email" required email>
  <p *ngIf="txtEmail.touched&&txtEmail.errors?.required">Emai is required</p>
  <p *ngIf="txtEmail.touched&&txtEmail.errors?.email">Emai is not valid</p>
  <br><br>
  <input type="password" placeholder="password" [(ngModel)]="password" name="password">
  <br><br> 
  <!-- <button [disabled]="formSignIn.invalid">Submit</button> -->
  <button [disabled]="formSignIn.invalid">Submit</button>
</form>
